<%= form_for @post do |f| %>
    <div class="field">
        <%= f.label :title %>
        <p><%= f.text_field :title, :size => 20 %></p>
        <%= f.label :start_time,"就寝時間" %>
        <p><%= f.datetime_field :start_time %></p>
        <%= f.label :end_time,"起床時間" %>
        <p><%= f.datetime_field :end_time %></p>
    </div>
    <%= f.submit "投稿する" %>
<% end %>